input {
	width: 100%;
	font-size: .9rem;
	line-height: 1;
	padding: calc(2.6 * var(--vw-to-px)) calc(3.8 * var(--vw-to-px));
}

label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: calc(1.7 * var(--vw-to-px));
}

button {
	width: 100%;
	color: #fff;
	background-color: var(--black);
}

button:hover,
button:active {
	border-color: var(--successColor);
	box-shadow: calc(1 * var(--vw-to-px)) calc(1 * var(--vw-to-px)) #000;
	background-color: var(--successColor);
	transform: translate(calc(-1 * var(--vw-to-px)), calc(-1 * var(--vw-to-px)));
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: calc(5 * var(--vw-to-px));
}

header .headerRight a {
	text-decoration: underline;
}

.loginForm>div {
	margin-bottom: calc(6 * var(--vw-to-px));
}

.signupLink {
	font-size: 1.1rem;
	text-align: center;
	margin-top: auto;
}

.signupLink a {
	text-decoration: underline;
}