<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../common/meta.ejs") %>
	<title>Log in | Knocknock</title>
	<link rel="icon" type="image/svg" href="/images/favicon.svg"/>
	<link rel="stylesheet" href="/css/common/normalize.css">
	<link rel="stylesheet" href="/css/common/default.css">
	<link rel="stylesheet" href="/css/common/header.css">
	<link rel="stylesheet" href="/css/account/account.css">
</head>

<body>
	<header class="noFixed row">
		<div class="headerLeft">
			<h2 class="logo">knoc<i>K</i>nocK</h2>
		</div>
	</header>
	<main>
		<div id="signin">
			<h1>Welcome back</h1>
			<section class="loginArea">
				<form action="/account/login" method="post" class="loginForm">
					<div>
						<label>Id</label>
						<input type="text" name="id">
					</div>
					<div>
						<label>Password</label>
						<input type="password" name="password">
					</div>
					<div>
						<p class="errorMsg"><%= msg %></p>
					</div>
					<button type="submit" class="bigBtn">Log in</button>
				</form>
			</section>
			<section class="signupLink">
				<a href="/account/signup">Sign up</a>
			</section>
		</div>
	</main>
	<div id="chkSize">
		<p>이 페이지는 모바일 사이즈를 고려하여 만들어졌습니다</p>
		<p>브라우저 가로 사이즈를 400px로 보시는 것을 권장합니다</p>
	</div>
	<script>

		window.onload = function() {
			// console.log("");
			// console.log("[window onload] : [start]");
			// console.log(""); 
			isMobile()
		};

		window.onresize = function(event){
			var innerWidth = window.innerWidth;
			// console.log(innerWidth);
			if (innerWidth <= 400){
				chkSize.style.display = 'none'
				// alert(innerWidth);
			}else {
				chkSize.style.display = 'block'

			}
		}
		const isMobile = () => {
			const user = navigator.userAgent;
			if ( user.indexOf("iPhone") > -1 || user.indexOf("Android") > -1 ) {
				chkSize.style.display = 'none'
			}else {
				chkSize.style.display = 'block'
			}
		}

	</script>
</body>

</html>