.addChat i {
	font-size: calc(4.2 * var(--vw-to-px));
}
.container > section {
	margin-bottom: calc(3 * var(--vw-to-px));
}
.card {
	overflow: unset;
}
.card:last-child {
	margin-bottom: calc(8.5 * var(--vw-to-px));
}
.roomSel {
	width: calc(28 * var(--vw-to-px));
	display: block;
	font-size: .7rem;
	border-radius: calc(1 * var(--vw-to-px));
	color: var(--gray);
	padding: calc(1 * var(--vw-to-px));
	margin-left: auto;
}
.roomList {
	display: none;
}
.roomList.active {
	display: block;
}
.owner {
	width: calc(9 * var(--vw-to-px));
	height: calc(9 * var(--vw-to-px));
	text-align: center;
	border: 1px solid var(--beige);
	border-radius: calc(3.3 * var(--vw-to-px));
	background-color: var(--bgLight);
	margin-right: calc(3 * var(--vw-to-px));
	padding: calc(1 * var(--vw-to-px));
}
.owner span {
	display: -webkit-box;
	overflow: hidden;
	font-size: .7rem;
	text-overflow: ellipsis;
	word-break: break-word;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
}
.roomTit {
	font-size: .8rem;
	letter-spacing: calc(.1 * var(--vw-to-px));
	font-weight: 600;
	margin-right: calc(1 * var(--vw-to-px));
}
.roomTit small {
	color: var(--gray);
}
.private i {
	font-size: calc(3 * var(--vw-to-px));
	vertical-align: middle;
	color: var(--gray);
	margin-bottom: calc(0.5 * var(--vw-to-px));
}
.createdAt {
	margin: auto 0 0 auto;
}
.roomInfo {
	align-items: center;
	font-size: .7rem;
	text-align: right;
	color: var(--gray);
	margin-top: calc(1 * var(--vw-to-px));
}
.newCnt {
	min-width: calc(3.4 * var(--vw-to-px));
    height: calc(3.4 * var(--vw-to-px));
	display: inline-block;
    text-align: center;
    font-size: .6rem;
    line-height: calc(3.4 * var(--vw-to-px));
    border-radius: calc(2.1 * var(--vw-to-px));
    color: #fff;
	opacity: 0;
	margin-left:  auto;
	padding: 0 calc(.4 * var(--vw-to-px));
	transition: opacity 1s ease;
}
.newCnt.active {
    background-color: var(--errorColor);
	opacity: 1;
}

/* modal */
.modal .modalTit {
	margin: calc(4 * var(--vw-to-px)) 0;
}
.modal .modalFooter {
	justify-content: center;
}
.modal .closeBtn {
	margin-left: auto;
}
.modal form > div {
	width: 100%;
	min-height: calc(6.8 * var(--vw-to-px));
	align-items: center;
}
.modal form > div:last-child {
	margin: calc(5.2 * var(--vw-to-px)) 0 0;
}	
.modal input#password {
	display: none;
}
.modal input#private:checked ~ input#password {
	display: inline-block;
	font-size: .7rem;
	border-radius: calc(1 * var(--vw-to-px));
	margin-left: calc(1 * var(--vw-to-px));
	padding: calc(1 * var(--vw-to-px));
}
.modal label[for="title"] {
	width: 100%;
	display: block;
}
.modal input.borderB {
	width: 100%;
	border: transparent;
	border-bottom: var(--border);
	border-radius: 0;
	padding: calc(1 * var(--vw-to-px));
}
.modal input.borderB:focus {
	outline: transparent;
	border-bottom: 2px solid var(--successColor);
}
.modal .privateChk {
	gap: calc(4 * var(--vw-to-px));
	margin-top: calc(2.6 * var(--vw-to-px));
}
.modal .pwMsg {
	font-size: .7rem;
	color: var(--errorColor);
	margin-top: calc(1 * var(--vw-to-px));
	padding-left: calc(1 * var(--vw-to-px));
}